@model ArtSofteEmployees.Models.Department

@{
    ViewData["Title"] = "Детали";
}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="">Главная</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Departments">Список отделов</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<h1>@ViewData["Title"]</h1>

<div>
  
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.DepartmentID">Редактировать</a>
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</div>
